.c-overflow {
    overflow: hidden;
    width: 220;
}

.transparent-btn {
    border: none;
    background: transparent;
}

.custom-btn {
    width: max-content;
    padding: 5px;
    background-color: #198754;
    color: #fff;
    border: none;
}
