<div class="container">

    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-light">
        <!-- <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
            <span class="fs-5 fw-semibold">All Flight Schedules</span>
        </a> -->
        <div class="search-schedule-box b-5 mt-3">
            <div class="search-box d-flex align-items-center justify-content-between m-auto border-bottom pb-3 mb-3" style="width: 70%;">
                <div class="source">
                    <div class="from-iata text-center position-relative">
                        <label for="from-iata" class="position-absolute" style="right: 83px; top: -6px;">FROM</label>
                        <div id="from-iata" class="large-text text-success">{{sourceIATA}}</div>
                    </div>
                    <div class="from-tb">
                        <input [(ngModel)]="source" name="source"
                                                (typeaheadOnSelect)="onSourceSelection($event)"
                                                [typeahead]="fetchAllAirportCodes()"
                                                class="form-control"
                                                autocomplete="off"
                                                placeholder="From">
                    </div>
                </div>
                <div class="flight-image">
                    <img src="/assets/icons/transportation.png" style="width: 130px;" alt="">
                </div>
                <div class="destination">
                    <div class="to-iata text-center position-relative">
                        <label for="to-iata" class="position-absolute" style="right: 100px; top: -6px;">TO</label>
                        <div id="to-iata" class="large-text text-success">{{destinationIATA}}</div>
                    </div>
                    <div class="to-tb">
                        <input [(ngModel)]="destination" name="destination"
                                                (typeaheadOnSelect)="onDestinationSelection($event)"
                                                [typeahead]="fetchAllAirportCodes()"
                                                class="form-control"
                                                autocomplete="off"
                                                placeholder="To">
                    </div>
                </div>
            </div>

            <div class="search-box d-flex align-items-center justify-content-end m-auto pb-3 mb-3" style="width: 70%;">
                <div>
                    <label class="form-label" for="">Boarding On: </label>
                    <div class="input-group">
                        <input type="text"
                        class="form-control w-20"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        #dp="bsDatepicker"
                        bsDatepicker [(bsValue)]="myDateValue"
                        placeholder="Boarding Date"
                        style="width: 200px;">
                        <button class="btn btn-sm btn-success px-3"
                        (click)="searchFlights()"
                        >Search</button>
                    </div>
                </div>
            </div>
            
        </div>  
        <div class="px-3" *ngIf="allSchedules.length > 0">
            <ng-template ngFor let-flight [ngForOf]="allSchedules">
                <div class="list-group bg-light list-group-flush scrollarea mb-3 box-shadow rounded position-relative">
                    <div href="#" class="list-group-item py-3 lh-sm" aria-current="true">
                        <div class="flight-detail d-flex justify-content-between px-3">
                            <div class="flight-code d-flex">
                                <h2 class="me-2 mb-0">{{flight.flightCode}}</h2> 
                                <span class="d-flex align-items-end pb-1 text-secondary">{{flight.airline.airlineName}}</span>
                            </div>
                            <div class="flight-status" [ngClass]="flightStatusColor(flight.status.id)">
                                {{flight.status.status}}
                            </div>
                        </div>
                        <hr class="mb-0">
                        <div class="flight-journey-details col-12">
                            <div class="d-flex">
                                <div class="d-flex p-3" style="border-right: solid 1px #c8c9ca;">
                                    <div class="source me-3">
                                        <small class="text-secondary">SOURCE</small>
                                        <div class="ellipsis">{{flight.source}}</div>
                                    </div>
                                    <div class="destination">
                                        <small class="text-secondary">DESTINATION</small>
                                        <div class="ellipsis">{{flight.destination}}</div>
                                    </div>
                                </div>
                                <div class="d-flex p-3" style="border-right: solid 1px #c8c9ca;">
                                    <div class="me-4">
                                        <small class="text-secondary">ETA</small>
                                        <div class="">{{flight.sta}}</div>
                                    </div>
                                    <div class="me-4">
                                        <small class="text-secondary">DEP</small>
                                        <div class="">{{flight.eta}}</div>
                                    </div>
                                    <div>
                                        <small class="text-secondary">Flight Hours</small>
                                        <div class="">{{flight.flightHours}} hrs</div>
                                    </div>
                                </div>
                                <div class="p-3" style="border-right: solid 1px #c8c9ca; width: 150px;">
                                    <ng-template ngFor let-fc [ngForOf]="flight.flightClass">
                                        <div class="d-flex jsutify-content-between">
                                            <div class="me-2"><i [ngClass]="getFCIcons(fc.name)"></i> : </div>
                                            <div>₹{{fc.fare}}</div>
                                        </div>
                                    </ng-template>
                                </div>
                                <div class="pt-3 pb-0 px-3 d-flex flex-column justify-content-center">
                                    <div class="flight-status-outline" style="padding: 9px;" (click)="navigateToBooking(flight)">
                                        BOOK NOW
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <div *ngIf="allSchedules.length === 0" style="width: 100%">
            <div class="d-flex flex-column align-items-center justify-content-center bg-white rounded" style="height: 200px; margin-top: 100px;">
                <div>No schedule found!</div> 
                <p>Please use the above button to navigate to the Create Schedule page.</p>
            </div>
        </div>
    </div>
</div>